<ion-header>
  <ion-navbar>
    <ion-title>
      VC Tool Student
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!activePresenter">Trainer is yet to start the session</div>
  <button ion-button block (click)="joinVideoCall()" *ngIf="activePresenter && !sessionJoined">Join Session</button>
  <video autoplay="autoplay" preload="metadata" webkit-playsinline="webkit-playsinline" id="remoteVideo"></video>
  <video autoplay="autoplay" preload="metadata" webkit-playsinline="webkit-playsinline" id="localVideo"></video>
</ion-content>
